body {
  font-family: Arial, sans-serif;
}

#note-container {
  margin: 20px 0;
}

.note {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#add-note-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
